<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> Shipment - Tags Overview</title><style>
body {
    font-family: Verdana, sans-serif;
}
table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 31em;
}

td, th {
    border: 1px solid #080808;
    padding: 8px;    
    vertical-align: top;
}

tr:hover {background-color: #fdf3fd;}

th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #6c3b6c;
    color: white;
}
</style></head>
   <body>
      <h1>Tags Overview</h1>
      <hr>
      <h2>Eduard Green</h2><b> Description: </b><br>
      Ship captain.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Eduard Green, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 1
                        		( 1981-10-25
                        			to  1993-04-07, constructed in
                        
                        		 South Africa )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td>Ship 2
                        		( 1990-12-20
                        			to  2020-07-10, constructed in
                        
                        		 Portugal )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>2 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Kiwi, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product was produced by EML and will be shipped to the UK, France, and Norway.
                           	    Currently Ship 1 and Ship 2 transport batches of this product.
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 1
                              		( 1981-10-25
                              			to  1993-04-07, constructed in
                              
                              		 South Africa )
                              	
                           </li>
                           <li>Ship 2
                              		( 1990-12-20
                              			to  2020-07-10, constructed in
                              
                              		 Portugal )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Samantha Jones</h2><b> Description: </b><br>
      No further information on Samantha Jones.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Samantha Jones, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 2
                        		( 1990-12-20
                        			to  2020-07-10, constructed in
                        
                        		 Portugal )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Kiwi, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product was produced by EML and will be shipped to the UK, France, and Norway.
                           	    Currently Ship 1 and Ship 2 transport batches of this product.
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 1
                              		( 1981-10-25
                              			to  1993-04-07, constructed in
                              
                              		 South Africa )
                              	
                           </li>
                           <li>Ship 2
                              		( 1990-12-20
                              			to  2020-07-10, constructed in
                              
                              		 Portugal )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Sophie Taylor</h2><b> Description: </b><br>
      Ship captain.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Sophie Taylor, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 4
                        		( 2023-03-15, constructed in
                        
                        		 Germany )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Robin Smith</h2><b> Description: </b><br>
      Ship captain.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Robin Smith, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 3
                        		( 2000-01-01
                        			to  2023-04-15, constructed in
                        
                        		 Chile )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Coat, <b>Type: </b>CLOTHING<br><br><b> Label: </b><br><i>
                           		This product is produced by Zara and will be shipped to the Italy. 
                           		Ship 3 currently carries a batch of this product. 
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 3
                              		( 2000-01-01
                              			to  2023-04-15, constructed in
                              
                              		 Chile )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Evelin Smith</h2><b> Description: </b><br>
      Ship mate in training - assigned to multiple vessels.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Evelin Smith, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 1
                        		( 1981-10-25
                        			to  1993-04-07, constructed in
                        
                        		 South Africa )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td>Ship 2
                        		( 1990-12-20
                        			to  2020-07-10, constructed in
                        
                        		 Portugal )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>2 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Kiwi, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product was produced by EML and will be shipped to the UK, France, and Norway.
                           	    Currently Ship 1 and Ship 2 transport batches of this product.
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 1
                              		( 1981-10-25
                              			to  1993-04-07, constructed in
                              
                              		 South Africa )
                              	
                           </li>
                           <li>Ship 2
                              		( 1990-12-20
                              			to  2020-07-10, constructed in
                              
                              		 Portugal )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Thomas Blue</h2><b> Description: </b><br>
      Ship mate.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Thomas Blue, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 1
                        		( 1981-10-25
                        			to  1993-04-07, constructed in
                        
                        		 South Africa )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Kiwi, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product was produced by EML and will be shipped to the UK, France, and Norway.
                           	    Currently Ship 1 and Ship 2 transport batches of this product.
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 1
                              		( 1981-10-25
                              			to  1993-04-07, constructed in
                              
                              		 South Africa )
                              	
                           </li>
                           <li>Ship 2
                              		( 1990-12-20
                              			to  2020-07-10, constructed in
                              
                              		 Portugal )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Noah Evans</h2><b> Description: </b><br>
      Ship mate.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Noah Evans, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 3
                        		( 2000-01-01
                        			to  2023-04-15, constructed in
                        
                        		 Chile )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Coat, <b>Type: </b>CLOTHING<br><br><b> Label: </b><br><i>
                           		This product is produced by Zara and will be shipped to the Italy. 
                           		Ship 3 currently carries a batch of this product. 
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 3
                              		( 2000-01-01
                              			to  2023-04-15, constructed in
                              
                              		 Chile )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Sebastian Maxwell</h2><b> Description: </b><br>
      Ship chef in training - assigned to multiple vessels.
      <br><br>
      		Below is a list of all Ships or Products tagged with 
      Sebastian Maxwell, either directly, or indirectly via association from their transportation.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Ships </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Ship 1
                        		( 1981-10-25
                        			to  1993-04-07, constructed in
                        
                        		 South Africa )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td>Ship 4
                        		( 2023-03-15, constructed in
                        
                        		 Germany )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>2 Ship(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Products </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Beef, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product is produced by EML and will be shipped to the Germany.
                           </i><br><br><b>No shipment detail.</b></td>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Kiwi, <b>Type: </b>FOOD<br><br><b> Label: </b><br><i>
                           		This product was produced by EML and will be shipped to the UK, France, and Norway.
                           	    Currently Ship 1 and Ship 2 transport batches of this product.
                           </i><br><br><b> Transported By: </b><ul>
                           <li>Ship 1
                              		( 1981-10-25
                              			to  1993-04-07, constructed in
                              
                              		 South Africa )
                              	
                           </li>
                           <li>Ship 2
                              		( 1990-12-20
                              			to  2020-07-10, constructed in
                              
                              		 Portugal )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>2 Product(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
   </body>
</html>